In [5]:
import pandas as pd

In [6]:
A_test_estimated = pd.read_parquet('A/X_test_estimated.parquet')
B_test_estimated = pd.read_parquet('B/X_test_estimated.parquet')
C_test_estimated = pd.read_parquet('C/X_test_estimated.parquet')

A_train_observed = pd.read_parquet('A/X_train_observed.parquet')
B_train_observed = pd.read_parquet('B/X_train_observed.parquet')
C_train_observed = pd.read_parquet('C/X_train_observed.parquet')

A_train_estimated = pd.read_parquet('A/X_train_estimated.parquet')
B_train_estimated = pd.read_parquet('B/X_train_estimated.parquet')
C_train_estimated = pd.read_parquet('C/X_train_estimated.parquet')

In [7]:
def columnsToDrop(df):
    columns_to_drop = [
    'wind_speed_10m:ms',
    'wind_speed_u_10m:ms',
    'wind_speed_v_10m:ms',
    'wind_speed_w_1000hPa:ms',
    'snow_density:kgm3',
    'snow_melt_10min:mm',
    'snow_drift:idx'
    ]
    df = df.drop(columns=columns_to_drop)
    return df
# I dataset på loc 24 og 7, så my vi droppe alt fra 2022-05 til 2022-11

A_test_estimated = columnsToDrop(A_test_estimated)
B_test_estimated = columnsToDrop(B_test_estimated)
C_test_estimated = columnsToDrop(C_test_estimated)

A_train_observed = columnsToDrop(A_train_observed)
B_train_observed = columnsToDrop(B_train_observed)
C_train_observed = columnsToDrop(C_train_observed)

A_train_estimated = columnsToDrop(A_train_estimated)
B_train_estimated = columnsToDrop(B_train_estimated)
C_train_estimated = columnsToDrop(C_train_estimated)


A_test_estimated.shape, B_test_estimated.shape, C_test_estimated.shape

((2880, 47), (2880, 47), (2880, 47))

In [8]:
# import module 

# assign dataframes 
data1 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], 
					columns=['A', 'B', 'C']) 

data2 = pd.DataFrame([[3, 4], [5, 6]], 
					columns=['A', 'C']) 

# display dataframes 
print('Dataframes:') 
display(data1) 
display(data2) 

# merge two data frames 
print('After merging:') 
pd.concat([data1, data2], axis=0)

Dataframes:

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

   A  C
0  3  4
1  5  6

After merging:

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  7  8.0  9
0  3  NaN  4
1  5  NaN  6